services:
  caddy:
    image: caddy:2.10
    # build: .
    restart: always
    # cap_add:
    #   - NET_ADMIN
    volumes:
      - ./conf:/etc/caddy
      - ./site:/srv
      - caddy_data:/data
      - caddy_config:/config
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    # secrets:
    #   - cf_api_token
    # entrypoint: /srv/entrypoint.sh

volumes:
  caddy_data:
  caddy_config:

# secrets:
#   cf_api_token:
#     file: secrets/cf_api_token
